/Assets/

*.gch
*.blend1
*.save-failed
*.o
*.exe
*.gch
*.save
*.save-failed
*.log
*.depend
*.layout
*.suo

/android/obj

/src/vcpp/.objs

/3rdParty/SDL/SDL/VisualC/*.*sdf
/3rdParty/SDL/SDL/VisualC/SDLtest
/3rdParty/SDL/SDL/VisualC/tests
/3rdParty/SDL/SDL/VisualC/Win32
/3rdParty/SDL/SDL/VisualC/SDL/Win32
/3rdParty/SDL/SDL/VisualC/SDL/x64
/3rdParty/SDL/SDL/VisualC/SDLMain/Win32
/3rdParty/SDL/SDL/VisualC/SDLMain/x64
/3rdParty/SDL/SDL2_image/VisualC/Win32
/3rdParty/SDL/SDL2_image/VisualC/x64
/3rdParty/SDL/SDL2_mixer/VisualC/Win32
/3rdParty/SDL/SDL2_mixer/VisualC/x64
/3rdParty/SDL/SDL2_mixer/VisualC/native_midi/Win32
/3rdParty/SDL/SDL2_mixer/VisualC/native_midi/x64
/3rdParty/SDL/SDL2_mixer/VisualC/timidity/Win32
/3rdParty/SDL/SDL2_mixer/VisualC/timidity/x64
/3rdParty/SDL/SDL2_mixer/VisualC-WinRT/WinPhone81_VS2013/Objs
